<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- book登録 -->
<mapper namespace="com.example.dao.BookInfoMapper">
	<insert id="bookInsert">
		insert into mbook(
			 book_name
			,synopsis
			,update_date
			,create_date
		)
		
		values(
			 #{bookName}
			,#{synopsis}
			,CURRENT_TIMESTAMP
			,CURRENT_TIMESTAMP
		)
	
	</insert>

</mapper>